body {
  margin: 0;
  padding: 0;
  background-color: #162447; /* Fundo azul escuro */
  color: white;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 31%; /* Para alinhar 3 produtos por linha */
  margin-bottom: 20px;
  text-align: center;
}

.product img {
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto 10px;
}